<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>WELCOME TO BIG JOE SALON</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <section class="nav_bar">
            <header>
                <nav class="navbar">
                <!--Logo-->
                <div class="logo">CJ BOOKS</div>
                <div class="menu">
                    
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/services">Our Services</a></li>
                    </ul>
                </div>
                  </nav>
            </header>

    <div class="main">
        <h1>
            <p>WE ARE GOOD WITH YOUR CHOICE</p>
        </h1>
    </div>

    <div class="footer">
        <div class="contact_col">

        </div>
        <div class="socials_col">
        </div>
    </div>
    </section>

</body>
</html>