<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>WELCOME TO BIG JOE SALON</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <section class="main">
            <header>
                <nav class="navbar">
                <!--Logo-->
                <div class="logo">CJ BOOKS</div>
                <div class="menu">
                    
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/choose_style">Chose</a></li>
                    </ul>
                </div>
                  </nav>
            </header>
        

    <div class="welcome">
        <h1>
            WELCOME TO OUR SALON
        </h1>
        <p>What choice of a hairstyle would you want?
            "Short Crop",
    "Long Layers",
    "Crew Cut",
    "Bob",
    "Pixie Cut",
    "Mohawk",
    "Pompadour",
    "Fade",
    "Undercut"

    Kindly follow the link below to make a choice
        </p>
    </div>

    <div class="link">
        <p><a href="/choose_style">CHOSE A STYLE</a></p>
    </div>

    <div class="footer">
        <div class="contact_col">

        </div>
        <div class="socials_col">
        </div>
    </div>
    
</section>
</body>
</html>